__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
dist/
build/
*.egg-info/
*.eggs/
.eggs/
*.log
*.sqlite3
.DS_Store
.env
.git
node_modules/
frontend/node_modules/
.vscode/
.idea/
